## Observations and Insights

In [40]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
pharma_merge = pd.merge(mouse_metadata, study_results, on='Mouse ID', how='outer')

pharma_merge.head(20)

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
5,k403,Ramicane,Male,21,16,25,33.464577,1
6,k403,Ramicane,Male,21,16,30,31.099498,1
7,k403,Ramicane,Male,21,16,35,26.546993,1
8,k403,Ramicane,Male,21,16,40,24.365505,1
9,k403,Ramicane,Male,21,16,45,22.050126,1
10,s185,Capomulin,Female,3,17,0,45.000000,0
11,s185,Capomulin,Female,3,17,5,43.878496,0
12,s185,Capomulin,Female,3,17,10,37.614948,0
13,s185,Capomulin,Female,3,17,15,38.177232,0
14,s185,Capomulin,Female,3,17,20,36.866876,0
15,s185,Capomulin,Female,3,17,25,33.949940,0
16,s185,Capomulin,Female,3,17,30,32.959671,1
17,s185,Capomulin,Female,3,17,35,28.328531,1
18,s185,Capomulin,Female,3,17,40,25.472143,1
19,s185,Capomulin,Female,3,17,45,23.343598,1

In [41]:
# Checking the number of mice in the DataFrame.
#mouse_count = pharma_merge['Mouse ID'].count()
pharma_merge["Mouse ID"].nunique()

#unique_mouse = pharma_merge['Mouse ID'].unique

#unique_mouse

249

In [42]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
# Find a duplicate rows
duplicateDFRow = pharma_merge[pharma_merge.duplicated(['Mouse ID', 'Timepoint'])]
print(duplicateDFRow)

    Mouse ID Drug Regimen     Sex  Age_months  Weight (g)  Timepoint  \
909     g989     Propriva  Female          21          26          0
911     g989     Propriva  Female          21          26          5
913     g989     Propriva  Female          21          26         10
915     g989     Propriva  Female          21          26         15
917     g989     Propriva  Female          21          26         20

     Tumor Volume (mm3)  Metastatic Sites
909           45.000000                 0
911           47.570392                 0
913           49.880528                 0
915           53.442020                 0
917           54.657650                 1

In [43]:
# Optional: Get all the data for the duplicate mouse ID.

In [44]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
duplicateDFRow = pharma_merge[pharma_merge.duplicated(['Mouse ID', 'Timepoint'])]
print(duplicateDFRow)
pharma_merge.set_index('Mouse ID', inplace=True)
pharma_merge.drop('g989', inplace=True)
pharma_merge.reset_index(inplace=True)
pharma_merge

    Mouse ID Drug Regimen     Sex  Age_months  Weight (g)  Timepoint  \
909     g989     Propriva  Female          21          26          0
911     g989     Propriva  Female          21          26          5
913     g989     Propriva  Female          21          26         10
915     g989     Propriva  Female          21          26         15
917     g989     Propriva  Female          21          26         20

     Tumor Volume (mm3)  Metastatic Sites
909           45.000000                 0
911           47.570392                 0
913           49.880528                 0
915           53.442020                 0
917           54.657650                 1

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1875,z969,Naftisol,Male,9,30,25,63.145652,2
1876,z969,Naftisol,Male,9,30,30,65.841013,3
1877,z969,Naftisol,Male,9,30,35,69.176246,4
1878,z969,Naftisol,Male,9,30,40,70.314904,4
1879,z969,Naftisol,Male,9,30,45,73.867845,4

In [45]:
# Checking the number of mice in the clean DataFrame.
pharma_merge["Mouse ID"].nunique()

248

In [47]:
pharma_merge

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1875,z969,Naftisol,Male,9,30,25,63.145652,2
1876,z969,Naftisol,Male,9,30,30,65.841013,3
1877,z969,Naftisol,Male,9,30,35,69.176246,4
1878,z969,Naftisol,Male,9,30,40,70.314904,4
1879,z969,Naftisol,Male,9,30,45,73.867845,4

## Summary Statistics

In [59]:
#tumor_size=pharma_merge[['Drug Regimen', 'Tumor Volume (mm3']]
pharma_merge =pharma_merge.rename(columns={"Drug Regimen":"Drug"})

#tumor_size=pharma_merge.groupby(['Drug Regimen'])
#tumor_size = pd.DataFrame(tumor_size).reset_index

tumor_size = pharma_merge.loc[pharma_merge['Tumor Volume (mm3)'].groupby('Drug').sum()['Tumor Volume (mm3)']

#passed_reading = student_data.loc[student_data['reading_score']>=70].groupby('school_name').count()['Student ID']
tumor_size.head()
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

#tumors_pd = pd.DataFrame({"Mean of Tumors": [mean_numpy],
#                             "Median of Tumors": [median_numpy],
#                             "Mode of Tumors": [mode_scipy],
#                              "Variance of Tumors": [var_numpy],
#                              "Standard Deviation of Tumors": [sd_numpy],
 #                             "Standard Error of Tumors": [z_scipy],
 #                             })



# This method is the most straighforward, creating multiple series and putting them all together at the end.

SyntaxError: invalid syntax (<ipython-input-59-31f3c197c3e1>, line 10)

In [19]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

## Bar Plots

In [20]:
# Generate a bar plot showing number of data points for each treatment regimen using pandas

In [21]:
# Generate a bar plot showing number of data points for each treatment regimen using pyplot

## Pie Plots

In [22]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [23]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [24]:
# Calculate the final tumor volume of each mouse across four of the most promising treatment regimens. Calculate the IQR and quantitatively determine if there are any potential outliers.

In [25]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [26]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [27]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [28]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen