## Python Mini-Project: Data Clean-Up, Pt. 2

Pay close attention to the prompts to help guide you through this task.

In [141]:
# Dependencies
import pandas as pd
import csv
import os

In [142]:
# load CSV
new_coders = os.path.join("Resources", "2016-FCC-New-Coders-Survey-Data.csv")

In [143]:
# Read with pandas--low_memory required to suppress errors about mixed data types
# You may need to encode this file
new_coders_pd = pd.read_csv(new_coders, encoding = 'iso-8859-1', low_memory=False)
new_coders_pd.columns

Index(['Age', 'AttendedBootcamp', 'BootcampFinish', 'BootcampFullJobAfter',
       'BootcampLoanYesNo', 'BootcampMonthsAgo', 'BootcampName',
       'BootcampPostSalary', 'BootcampRecommend', 'ChildrenNumber',
       ...
       'ResourceSoloLearn', 'ResourceStackOverflow', 'ResourceTreehouse',
       'ResourceUdacity', 'ResourceUdemy', 'ResourceW3Schools',
       'ResourceYouTube', 'SchoolDegree', 'SchoolMajor', 'StudentDebtOwe'],
      dtype='object', length=113)

In [144]:
# Take only columns 0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
# Consider using iloc
reduced_coders_pd = new_coders_pd.iloc[:,[0,1,2,3,4,6,7,8,9,10,11,29,30,32,36, 37, 45, 48,  56, 110, 111]]

In [145]:
# Change reading 0 and 1 to No and Yes, respectively
attendersclean_pd = reduced_coders_pd.replace({0.0:'No', 1.0:'Yes'})

In [146]:
# Extract rows for only those who attended a bootcamp
#bootcamp_attenders=attendersclean_pd.loc[attendersclean_pd['AttendedBootcamp'] == "Yes"]

bootcampcount_pd=bootcamp_attenders.replace({"Yes": 1, 'No':0})

bootcampcount_pd=pd.DataFrame(attendersclean_pd['BootcampName'].value_count())

#recommend_bootcamp=pd.DataFrame(recommend_bootcamp.groupby("BootcampName")["BootcampRecommend"].sum())

bootcampcount_pd

AttributeError: 'Series' object has no attribute 'value_count'

In [136]:
# Create DataFrame of the various boot camps along with the number of participants (enrollees)
# Create a DataFrame from using value_counts
recommend_bootcamp=bootcamp_attenders.replace({"Yes": 1, 'No':0})
recommend_bootcamp=pd.DataFrame(recommend_bootcamp.groupby("BootcampName")["BootcampRecommend"].sum())


recommend_bootcamp.columns=["Amount who do Recommend"]

recommend_bootcamp.head()

                       Amount who do Recommend
BootcampName
10x.org.il                                 3.0
4Geeks Academy                             4.0
AcadGild                                   2.0
Academia de CÃ³digo                        4.0
Academic Work Academy                      0.0

In [89]:
# Count how many attendees of each bootcamp would recommend the bootcamp

                   BootcampName  BootcampRecommend
93               Codify Academy                0.0
97               DaVinci Coders                0.0
130               Coder Foundry                1.0
159            General Assembly                0.0
188                         NaN                0.0
...                         ...                ...
15539                 CodeaCamp                1.0
15540  Anyone Can Learn To Code                0.0
15541                 CodeaCamp                1.0
15593            Camp Code Away                0.0
15600                  Epicodus                1.0

[953 rows x 2 columns]

In [90]:
# Merge the two created data frames on the name of tbe bootcamp

inner_merge_df = pd.merge(recommenders_df, respondents_df, on="BootcampName")

inner_merge_df.head(10)

     BootcampName  BootcampRecommend  AttendedBootcamp
0  Codify Academy                0.0               1.0
1  Codify Academy                0.0               1.0
2  Codify Academy                0.0               1.0
3  Codify Academy                0.0               1.0
4  Codify Academy                0.0               1.0
5  Codify Academy                0.0               1.0
6  Codify Academy                0.0               1.0
7  Codify Academy                0.0               1.0
8  Codify Academy                1.0               1.0
9  Codify Academy                1.0               1.0

In [10]:
# Calculate percentage of each bootcamp's students who are recommenders
# Think of what should be the numerator and the demoninator

# Sort results in descending order

# Format for percentages

                                BootcampName  Count  Recommenders % Recommend
64                                Dev League      3           3.0     100.00%
44                       Academia de CÃ³digo      4           4.0     100.00%
95  Launch School (formerly Tealeaf Academy)      1           1.0     100.00%
93                         Ruby On The Beach      1           1.0     100.00%
92                                 SeedPaths      1           1.0     100.00%

In [11]:
# Export to excel and remove index